
body {
    background-image: url('fondo.jpeg');
    background-size: cover;
    font-family: "Press start 2P";
    font-size: 10px;
  }

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


  .gameContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.titulo_invaders {
    width: 100%;
    margin-top: 10%;
}


@keyframes zoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.startButton {
    width: 35%;
    height: 25%;
    margin-top: 5%;
    position: relative;
    left: 33%;
    margin-top: 25%;
    animation: zoom 2s infinite;
}

.startButton:hover {
  animation-play-state: paused;
  transform: scale(1.2);
}

.headerBar{
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 194, 194);
  width: 100%;
  justify-content: space-between;
}

.livesContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leyenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegúrate de que el div tenga una altura. Si no, puedes usar un valor específico en lugar de 100% */
}

.leyenda img {
  width: 50px;
  height: 50px;

}

.leyendaImg{
transform: scale(0.4);

}

.leyendaIconos{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  width: 300px;
  margin: 5px 0px 0px 0px;
}

.leyendaConTexto{
  display: flex;
  flex-direction: column;
  align-items: center;


}

.scoreContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -120px;
}

.scoreContainer p {
  font-size: 20px;
  margin-top: 0px;
}

.controles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flechas {
  transform: scale(2.5);
}