.invaderButton{
    width: 15%;
    height: 5%;
}

.naveExtraterrestre{
    width: 100px;
    height: 80px;
    margin-top: -25%;
}

.tipoInvader{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 8px;
}

.invaderImg{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.invaderNames{
    width: 25%;
    height: 10px%;
}