.modalContainer {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(252, 247, 247, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .videosContainer {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transform: scale(0.8);
  }

  .videosContainer p {
    font-size: 1.6em;
  }

  .videosContainer video {
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
  }

  .textoProyectos {
    background-color: rgb(48, 194, 194);
    width: 100%;
    text-align: center;
    margin-bottom: -111px;
  }

  .contactoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.contactForm label {
margin: 40px 0px 0px 0px;
}