
.title{
  display: flex;
  flex-direction: row;
  width: 100%;
  height:110px;
  margin: 20px 0px 0px 0px;
}

.jonSnakeIMG{
  width: 60%;
  height: 100%;
  margin-right: 10px;

}

.snakeIMG{
  width: 20%;
  height: 100%;
  margin-right: 10px;
}

.explicacion{
  text-align: center;
  margin-top: 40px;
}
  
  .cell {
    position: absolute;
    /* border: 1px solid #eee; /* Color del borde de las celdas */
  }

.counters{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

  .counter>div{
    margin-bottom: 2px;
}

  .counter {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
  }

  .counter>div{
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .counter:hover{
    cursor: pointer;
  
  }


.snake-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-game {
    position: relative;
    width: 600px; /* Ajusta el tamaño del tablero según tus necesidades */
    height: 600px;
    border: 5px solid #333; /* Color del borde del tablero */
  }

  .cell.CV, .cell_CV{
    background-color: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  
  .cell.Proyectos, .cell_Proyectos {
    background-color: yellow;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  
  .cell.Contacto, .cell_Contacto {
    background-color: blue;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  
  
  .snake {
    background-color: black; /* Color de la serpiente */
  }
  
  .food {
    background-color: #f44336; /* Color de la comida */
  }
  
  .game-over {
    background-color: rgba(255, 0, 0, 0.5); /* Color de fondo del mensaje de Game Over */
  }

  .paused {
    background-color:#9EC394; /* Color de fondo del mensaje de Game Over */
  }
  
  /* Estilos opcionales para centrar el mensaje de Game Over */
  .game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff; /* Color del texto */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .restart:hover{
    cursor: pointer;
  }

  .pause-overlay, .game-over-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .pause-message, .game-over-message {
    color: white;
    font-size: 2em;
  }

  .restart-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  